# Ignore arquivos e pastas desnecessários na raiz
/node_modules/
/package.json
/package-lock.json

# Ignore arquivos temporários e de sistema
.DS_Store
Thumbs.db
*.log

# Ignore dependências e builds dentro de body/
/body/node_modules/
/body/dist/
/body/.next/
/body/.turbo/
/body/.vercel/

# Ignore arquivos de lock alternativos
/body/bun.lockb
/body/yarn.lock

# Ignore arquivos de ambiente
.env
.env.*
